/* css file */

body {background-color:#ffffff; color: #404040; font-size:14px; margin:8px; overflow:scroll; hyphens:auto;}

.content  {background-color:#f8f8f8; margin-top:30px; margin-left:auto; margin-right:auto; max-width:900px; height:auto}
.block  {margin-left:30px;margin-right:30px;}
.pp       {margin-left:10px; width:900px;}                        /* text mit fester breite  */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {font-family:Arial,Helvetica,sans-serif;}

h1 { width:100%; font-size:36px; background-color:#d8d8d8; }
h2 { width:100%; font-size:28px; margin-bottom:18px; }
h3 { width:100%; font-size:20px; margin-top:25px; margin-bottom:10px; }
h4 { width:100%; font-size:14px;}

p {color: #404040; font-face: "Arial,Helvetica"; text-align:justify; width:100%; font-size:14px; margin-bottom:12px;}

ul,ol,li,div,td,th,address,blockquote { color: #404040; font-face: "Arial,Helvetica"} /* ; font-size:14px; */ 

table {color: #404040; font-face:"Arial,Helvetica"; } /* font-size:20px  */ 

td {color: #000000; font-face:"Arial,Helvetica"; } /* font-size:20px */ 

td.thirdth {font-size:14px; }

ol {list-style-type:circle; margin-bottom:12px; }

ul {list-style-type:circle;}

li {margin-left:-14px; margin-top:3px;} /*  width:900px; */

pre { font-family:Courier New,Courier; color:#000000; font-size:14px;} /*  */ 

code,kbd,tt { font-family:Courier New,Courier; color:#000000; }

var { font-style:normal; color:#000000; }

blockquote,cite { font-style:italic; }

hr { width:900px; }

a {text-decoration:none;  color:#6961fa;}
a:hover {color:#9999ff;}

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; }

/* for mobile devices */

@media screen and (max-width: 800px){
    body      {margin-left:6px;}
    .content  {margin:8px;}
    td.thirdth {font-size:0.7em; line-height:1.1em; vertical-align:top;}
    p         {font-size:0.8em; margin: 10px 0;}
    .pp       {font-size:0.8em; width:auto; margin-left: 0px; margin-bottom:12px; }
    .noresize {font-size:1em;}
    .logoresize {width:80px;}
    .imageresize {width:160px;}
    td        {font-size:0.8em;}
    li        {font-size:0.8em;}
    h1        {font-size:1.2em; margin-bottom:6px; }
    h2        {font-size:1.1em; margin-bottom:10px; }
    h3        {font-size:1.0em; margin-bottom:6px; margin-top:0px; }
    h4        {font-size:0.9em;}
    ol        {margin-bottom:10px; }
    mypblock  {font-size:0.8em;}
}                                          
