/* css file */

body {background-color:#ffffff; color: #202020; font-size: 16px;}

.content  {margin-top:30px; margin-left:auto; margin-right:auto; max-width:810px;}
.pp       {margin-left:10px; width:800px;}                               /* text mit fester breite  */
.mypblock {align:left; margin-left:10px; width:480px; font-size: 15px;}  /* adresse im header */
.myimblock{width:320px;}                                                 /* bild im header */

mytext {color:#202020; font-face: "Arial,Helvetica";}

myscale { font-size: 1em; }  /* */

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i { font-family:Arial,sans-serif; }

h1 { width:100%; margin-bottom:16px; font-size:36px; }  /* */
h2 { width:100%; margin-bottom:12px; font-size:28px; }  /* */
h3 { width:100%; font-size:24px; margin-top:35px; margin-bottom:20px;}  /* */
h4 { width:100%; font-size:18px;}  /* */

p {color: #202020; font-face: "Arial,Helvetica"; text-align:justify; width:100%; }  /* font-size:16px; */

ul,ol,li,div,td,th,address,blockquote { color: #202020; font-face: "Arial,Helvetica"; }  /* font-size:16px;  */

strong {color:#202020}

table {color: #202020; font-face: "Arial,Helvetica"; max-width:800px; }  /* font-size:16px; */

tr {width:100%;}

td {font-face: "Arial,Helvetica"; vertical-align:top}  /* font-size: 16px;  */

ul,ol {list-style-type:circle;} 
ol.publication {list-style-type:none;}

li {width:100%;}
li.publication{margin-top:0px; margin-bottom:16px; margin-left:-40px; line-height:130%;}

pre { font-family:Courier New,Courier; color:#000000;   }  /* font-size:16px;*/

code,kbd,tt { font-family:Courier New,Courier; color:#000000; }

var { font-style:normal; color:#000000; }

blockquote,cite { font-style:italic; }

a {color:#6961fa; text-decoration:none;} /* grau: #909090; braun color:#a26620;  */
a:hover {color:#9999ff;}

ins { font-weight:bold; text-decoration:none; } /* color:#009900; */

del { font-weight:bold; text-decoration:line-through; }  /* color:#990000;  */

hr { width:100%; }

/* for mobile devices */

@media screen and (max-width: 600px){
    .content  {margin-left:6px; margin-right:6px; margin-top:0px}
    .pp       {margin-left:6px; font-size:0.7em;}
    .mypblock {font-size:0.7em; width:240px;}
    .myimblock{width:160px;}
    h1        {font-size:1.2em;}
    h2        {font-size:1.1em;}
    h3        {font-size:1.0em; margin-top:10px; margin-bottom:10px;}
    h4        {font-size:0.9em;}
    p         {font-size:0.8em;}
    li        {font-size:0.8em;}
    td        {font-size:0.7em;}
    mypblock  {font-size:0.8em;}
}                                          
