    
    <!--
      <table>
	<tr>
	  <td>Plane wave
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_plane_wave.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_plane_wave.gif"></td>/-->
	  <td>Test: Gauss function * plane wave
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_gauss_times_plane_wave.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_gauss_times_plane_wave.gif"></td>/-->
	  <td>Bessel function (standing wave)
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_bessel.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_bessel.mp4"></td> /-->
	</tr>
	<tr>	 
	  <td>Moving wavepacket
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_moving_wavepacket.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_moving_wavepacket.gif"></td>/-->
	  <td> Wavepacket with m gradient: acceleration<br>
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_wavepacket_m_gradient.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_wavepacket_m_gradient.gif"></td>/-->
	  <td>Bessel function with plane wave (inconsistent k)
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_wavepacket_k_mismatch.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_wavepacket_k_mismatch.gif"></td>/-->
	</tr>
	<tr>
	  <td>Bessel function (radiating)
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_radiating_bessel.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_radiating_bessel.gif"></td>/-->
	  <td>Radiating Bessel * plane wave = 2 packets
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_moving_radiating_wavepacket.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_moving_radiating_wavepacket.gif"></td>/-->
	</tr>
	<tr>	 
	  <td>Opposing waves lead to rotation
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_half_plane_rotation.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_half_plane_rotation.gif"></td>/-->
	  <td>Angular wave leads to rotation
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_spiral.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_spiral.gif"></td>/-->
	</tr>
	<tr>	 
	  <td>Bessel(x^2) -> focusing of modulating waves
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_besselj_sq.mp4" controls></video>
	    <!--<img width="400px" src="movies/klein_gordon_2d_wavefield_besselj_sq.gif"></td>/-->
	  <td>Two particles (test: nonlinear KG equation)
	    <video class="movie" src="movies/klein_gordon_2d_wavefield_wavepacket_pair.mp4" controls></video>
	<!--<img width="400px" src="movies/klein_gordon_2d_wavefield_wavepacket_pair.gif"></td>/-->
	</tr>
      </table>
/-->
